@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PilseungGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/PilseungGothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/*공동클래스 스타일  */
html{
    
}
body{
    
}
.wrap{
 
    /*! display: flex; */
    /*! flex-wrap: wrap; */
    /*! justify-content: center; */
}
/* 상단영역 */
header {
     /*! background-image: url(img/2head.png); */
    position: relative;
}
header .wrap {
   height: 100px;
    width: 1250px;
    margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header .wrap h1 {
  display: inline-block;
}
header .wrap h1 ul {
  display: flex;
    gap: 30px;
    justify-content: right;
    list-style: none;
    margin-top: -35px;
    font-family: 'MBC1961GulimM';
}
header .wrap h1 ul li {
}
 

header > ul{
    
    display: flex;
    gap: 30px;
    justify-content: right;
    list-style: none;
    margin-top: -35px;
    font-family: 'MBC1961GulimM';
}
div{
    
}
.bi-envelope{
    width: 38px;
    height: 30px;
    color: black;
}
.bi-telephone{
    width: 26px;
    height: 30px;
    color: black;
}
.bi-list{
    width: 30px;
    height: 30px;
    color: black;
}
a.name{
    
    font-size: 44px;
    text-decoration: none;
    color: #000;
    font-family: 'MBC1961GulimM';
    margin-top: 30px;
    margin-left: 20px;
}
/* --------------------------------------------------------------------------상단영역 끝---------------------------------------------------------------------------------------------------------------------------------- */
div#title {
    padding-bottom: 200px;
    width: 1400px;
    margin: 0 auto;
}
div#title .mov {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    gap: 40px;
}
div#title .mov li {
    border: 3px solid;
    width: 800px;
    height: 480px;
    align-items: end;
    display: flex;
    justify-content: center;
    font-size: 0px;
    position: relative;
    color: #0d0d0d;
}
}
div#title::before{
    /*! content: ""; */
    /*! position: absolute; */
    /*! width: 100%; */
    /*! height: 100%; */
    /*! background-color: rgba(0,0,0,0.4); */
    /*! position: absolute; */
    /*! left: 0; */
    /*! top: 0; */
}
div#title li a{ 
    margin-bottom: -100px;
    /*! font-size: 15px; */
    text-align: center;
}
div#title li a{
    background-image: url(../img/gr1.png);
    width: 90px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 1s;
}
div#title li a:hover{
    background-image: url(../img/blgr2.png);
}
/* --------------------------------------박스--------------------------------------*/
div#title ul{
    
}
/*--------------------------------- 메인 시작 --------------------------------------*/
main{
    
}
#about {
}
#about .warp {
    width: 1440px;
    height: 550px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    border-radius: 98px;
    border: 6px solid;
    font-family: 'Pretendard-Regular';
}
#about .warp .abbox {
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    border-right: 6px dashed;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    position: relative;
}
#about .warp .abbox h2:nth-of-type(1)::after{
    content: "";
    background-image: url(../img/ps1.jpg);
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    left: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 67%;
    top: 60px;
}
#about .warp .abbox h2 {
    margin-top: 80px;
    text-align: right;
    margin-right: 45px;
}
#about .warp .abbox p{
    
}
#about .warp .abbox figure {
  color: 111;
}
#about .warp .abbox ul:nth-of-type(1){
    margin-top: 160px;
    margin-left: 60px;
    font-size: 24px;
    list-style: none;
    margin-bottom: 60px;
}
#about .warp .abbox ul:nth-of-type(2){
    font-size: 24px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
#about .warp .abbox ul li {
}
#about .warp .abbox ul .sky{
    
    background-image: url(img/airplane.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(40deg);
}
#about .warp .abbox p {
  height: 50px;
  width: 140px;
  margin-left: 60px;
  margin-top: 30px;
}
#about .warp .abbox2 {
  height: 100%;
  width: 840px;
}
#about .warp .abbox2 .mnbox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
#about .warp .abbox2 .mnbox ul {
    width: 380px;
    height: 70px;
    list-style: none;
    margin-left: 30px;
    display: flex;
}
#about .warp .abbox2 .mnbox ul li {
    font-size: 20px;
}
#about .warp .abbox2 .story{
    
    margin-left: 40px;
    font-size: 40px;
    list-style: none;
}
#about .warp .abbox2 .mnbox ul li:nth-child(1){
    content: "";
    display: inline-block;
    margin-right: 25px;
    font-size: 25px;
}
#about .warp .abbox2 ul li{
    
}
#about .warp .abbox2 ul p{
    
}
#pg{
    padding: 100px 0;
}
#prog{
     height: 300px;
    padding-bottom: 100px;
}
#prog h2{
    
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
    font-size: 70px;
}
#prog ul{
    
    display: flex;
    justify-content: center;
}
#prog ul li{
    
}
/*---------------자격증 배치 시작 ----------------------  */
.pr{
     background-image: url(../img/adpr.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    display: block;
     width: 200px;
     height: 240px;
}
.ps{
    background-image: url(../img/adps.png);
    /*! background-size: contain; */
    background-repeat: no-repeat;
    font-size: 0;
    display: block;
    width: 200px;
    height: 240px;
    background-size: 200px;
}
.al{
    background-image: url(../img/adil.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    display: block;
    width: 200px;
    height: 240px;
}
.crr{ 
    background-image: url(../img/prcss.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    display: block;
width: 200px;
height: 240px;
}
.ht{ 
    background-image: url(../img/ht.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    display: block;
    width: 200px;
    height: 240px;
}
/*---------------자격증 배치 끝 ----------------------  */

/*----------------------포토폴리오 시작 ----------------------------  */
#portfolio1 {
}

/* -------------------------메인 끝--------------------------------- */
/* 하단부분 */
#footer{
    
}
#footer .footercontact{
    
    height: 300px;
    background-color: #fcfcfc;
}
#footer .footercontact .footerinner{
    
    height: 100%;
    margin: 0 auto;
    background-color: #e3e3e3;
}
#footer .footercontact .footerinner h2{
    
    text-align: start;
    display: inline-block;
    font-size: 50px;
    text-decoration: none;
    color: #000;
    font-family: 'MBC1961GulimM';
    margin: 130px 90px 0px;
}
#footer .footercontact .footerinner h2 a{
    
    color: black;
}
#footer .footercontact .footerinner .ftcontact{
    
    font-size: 25px;
    text-decoration: none;
    color: #000;
    font-family: 'MBC1961GulimM';
    display: inline-block;
    list-style: none;
    margin-left: 200px;
}
#footer .footercontact .footerinner .ftcontact li{
    
    font-size: 25px;
    text-decoration: none;
    color: #000;
    font-family: 'MBC1961GulimM';
}
#footer .footercontact .footerinner .ftcontact li:nth-of-type(1){
    
}
#footer .footercontact .footerinner .ftcontact li:nth-of-type(2){
    
}
#footer .footercontact .footerinner .ftcontact li:nth-of-type(3){
    
}
#footer .footercontact .footerinner .ftcontact li:nth-of-type(4){
    
}