#portfolio1 {
  color: 111;
}
#portfolio1 .warp {
  width: 1600px;
  height: 900px;
  margin: 0 auto;
}
#portfolio1 .warp .pfmain {
  color: 111;
}
#portfolio1 .warp .pfmain h3 {
  color: 111;
}
#portfolio1 .warp .pfmain ul {
  color: 111;
}
#portfolio1 .warp .pfmain ul li {
  color: 111;
}
#portfolio1 .warp .skilllist {
  width: 700px;
  height: 100px;
  background-color: aqua;
}
#portfolio1 .warp .skilllist ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  list-style: none;
}
#portfolio1 .warp .skilllist ul li {
  width: calc(100% / 5);
  height: 100%;
}