.portofolio3 {
  
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .portofolio3 div.wrap {
    
    width: 65%;
    height: 95%;
    position: relative;
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 60% 20% 10%;
    margin: 0 auto;
  }
  /* .portofolio3 div.wrap:before{
    content: "";
    position: absolute;
    width: 456px;
    height: 241px;
    left: 400px;
    top: 115px;
    background-repeat: no-repeat;
    background-image: url(../img/11.jpg);
    background-size: contain;
  } */
  .portofolio3 div.wrap div.text1 {
    
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    height: 100%;
  }
  .portofolio3 div.wrap figure{
    
    grid-column: 1 /2;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .portofolio3 div.wrap figure img{
    width: 95%;
    height: 90%;
  }
  .portofolio3 div.wrap figure p{
    
    width: 95%;
    height: 90%;
    background: url(../img/cgvmac.jpg) no-repeat;
    background-size: contain;
    font-size: 0;
    position: relative;
  }
  .portofolio3 div.wrap figure p span{
    
    display: block;
    width: 559px;
    height: 296px;
    position: absolute;
    background: url(../img/samsungall.png) no-repeat;
    left: 16px;
    top: 17px;
    background-size: cover;
  }
  .portofolio3 div.wrap figure p:hover span{
    animation: enexScroll 10s ease infinite;
  }
  
  .portofolio3 div.wrap div.text1:before{
    content: "";
    width: 55px;
    height: 15px;
    background-color: gray;
    position: absolute;
    left: -92px;
    top: 0px;
  }
  .portofolio3 div.wrap div.text1 h2 {
    
    font-size: 40px;
    color: #2b2b2b;
    text-align: left;
  }
  .portofolio3 div.wrap div.text2 {
    
    grid-column: 2 /3;
    grid-row: 2 / 3;
    height: 100%;
  }
  .portofolio3 div.wrap div.text2 h3{
    
    font-size: 45px;
    display: inline-block;
    font-family: 'SEBANG_Gothic_Bold';
    color: #2b2b2b;
    margin-top: 30px;
  }
  .portofolio3 div.wrap div.text2 ul {
    
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
  }
  .portofolio3 div.wrap div.text2 ul li {
    
    color: #333;
    font-size: 19px;
  }
  .portofolio3 div.wrap div.text2 ul li span{
    
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
  }
  .portofolio3 div.wrap div.text3 {
    
    grid-column: 1 /3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .portofolio3 div.wrap div.text3 h4{
    
    font-size: 26px;
    font-family: 'SEBANG_Gothic_Bold';
    color: #16456e45;
  }
  .portofolio3 div.wrap div.text3 div.cp ul {
    
    width: 102px;
    height: 52px;
    align-items: end;
    display: flex;
    justify-content: center;
  
    border-radius: 14px;
  }
  .portofolio3 div.wrap div.text3 div.cp{
    
    display: flex;
    gap: 10px;
    margin-left: 100px;
  }
  .portofolio3 div.wrap div.text3 div.cp ul:nth-of-type(1){
      background-color: #ed3124;
  }
  .portofolio3 div.wrap div.text3 div.cp ul:nth-of-type(2){
      background-color: #ffffff;
      border: 1px solid #cadbfd;
  }
  .portofolio3 div.wrap div.text3 div.cp ul:nth-of-type(3){
      background-color: #000000;
  }
  .portofolio3 div.wrap div.text3 div.cp ul:nth-of-type(4){
      background-color: #fed900;
  }
  .portofolio3 div.wrap div.text3 div.cp ul:nth-of-type(5){
      background-color: #246c2d;
  }
  .portofolio3 div.wrap div.text3 div.cp ul:nth-of-type(6){
      background-color: #9e9e9e;
  }
  .portofolio3 div.wrap div.text3 div.cp ul li {
    
    color: #eff3f9;
    font-family: 'SEBANG_Gothic_Bold';
    font-size: 13px;
  }
  .portofolio3 div.wrap div.text4 {
    
    display: flex;
    height: 100%;
    align-items: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    grid-column: 1 /3;
    grid-row: 4 / 5;
    justify-content: space-between;
  }
  .portofolio3 div.wrap div.text4 ul {
    
    display: flex;
  
  }
  .portofolio3 div.wrap div.text4 ul:nth-of-type(1){
      padding: 10px;
    background-color: gray;
      color: white;
  }
  .portofolio3 div.wrap div.text4 ul:nth-of-type(2){
    
    gap: 95px;
    color: #333;
  }
  .portofolio3 div.wrap div.text4 ul li {
    
  }